:root {
	--firefox-highlight-colour: rgba(22, 197, 129, 1);
	--firefox-highlight-colour-dimmed: RGBA(22, 197, 129, 0.7);

	--primary: #212121;
	--secondary: #fafafa;
	--tertiary: #404040;
	--quaternary: #4a4a4a;
}
* {
	scrollbar-color: var(--firefox-highlight-colour-dimmed) transparent;
	scrollbar-width: thin !important
}
*:hover {
	scrollbar-color: var(--firefox-highlight-colour) transparent;
}